In [1]:
import pandas as pd

In [6]:
pd.__version__

'1.4.4'

In [13]:
a1=pd.Series(['one',2,3,4,5],index=[0,1,2,3,4])

In [14]:
print(a1)

0    one
1      2
2      3
3      4
4      5
dtype: object

In [15]:
a2=pd.Series(['one',2.5,'3+j',4,5],index=[0,1,2,3,4])

In [17]:
print(a2)

0    one
1    2.5
2    3+j
3      4
4      5
dtype: object

In [23]:
season = {"Rainy":{1:'nov', 2:'dec', 3:'jan', 4:'feb'}, "Dry":{1:'mar', 2:'apr', 3:'may', 4:'jun'},"Com":{1:'jul',2:'Aug',3:'sep',4:'ocb'}}

In [25]:
d=pd.DataFrame(season ,columns =["Rainy","Dry","Com"])

In [26]:
print(d)

  Rainy  Dry  Com
1   nov  mar  jul
2   dec  apr  Aug
3   jan  may  sep
4   feb  jun  ocb

In [27]:
import numpy as np

In [34]:
a =pd.DataFrame(np.random.randint(200,5000,size=(30,10)),columns=list('abcdefghkl'))

In [36]:
print(a)

       a     b     c     d     e     f     g     h     k     l
0    606  1901  2621   919  3086  3334  3019   801  1717   833
1   2922  2990  2836  3534  2636  2270  2379   605  2278  4005
2   3522  4833  4554  4250   914  2979  4297  2288  3487  1091
3    359   799  3230  2801  4529  3687  3005  1732  2758  3735
4   2384  2332  2905  2872  4459  3133  3486  1634  3698  4156
5   4742  1504  4633  4378  1034  3082  2369   234  1704  4277
6   3593  3167  2543  1599  2278  1999   315  3791  1543  1405
7    881   695  4441  4258  2696  1044   405  2347  1047  3922
8   3838  3551  2017   364  4865   598  4698  3516  2407  1548
9   3848  4766  2234  1569  2585  2526  1627  2997   648   741
10  2524  1660  2513  3957  1710  1187  4465  4799  4498  3228
11  2677   412  2259  1720   645  2444  1315  1360  4415   218
12  1369  4748  1826  4487   719  3867  3061  3944  4486  1390
13  4983  1172  3640  1768  1469  2377  3429  3220  3600  4652
14  3999  4577  3118  1017  4839  3242  2349  1075  4886  4098
15  1107  1228  2852  1091  3265  1102  2973  1515  3155  2225
16   644  3751  3046  1742  4331  4629   363  3312   599   340
17  1743  4490   480  4428  1969   261  1142  1833  2544  2227
18  1712  1506  3067  2203   605  2993   906  4226   426  3410
19  1432  3421  3665  2518  3811  1384  3361  4651  3255  2447
20  2370  1366  1662  2123  1987  2552   704  1680  1089  4864
21   782  4523  2164   948   827  3321   228  1059  3376  2328
22  2163  2595  2035  1475  4575  1369  1714  4389  1147  4112
23  3372  2306  3851  2845  2392   910  2010  4400  1251  2356
24  2682  4639  4947  2671  4530  3317  4628  4258  4179  1499
25  2860  2057   232  1836  2629  3277  3540  1734  3820  4295
26  3886  3987   847  1876  2020  1886  3773   685  2214  1987
27  3543  2527  4288  4464  4177  1535  4336  2833  1184  2757
28  1272  1878  1177  4020  4974  1281  3383  1324   661  1736
29  3315  3566  1433   671  2460  1527  1400  4726  1296  4962

In [46]:
a.to_csv("C:/Users/Admin/pandes.csv")

In [47]:
n=pd.read_csv("C:/Users/Admin/pandes.csv")

In [48]:
print(n)

    Unnamed: 0     a     b     c     d     e     f     g     h     k     l
0            0   606  1901  2621   919  3086  3334  3019   801  1717   833
1            1  2922  2990  2836  3534  2636  2270  2379   605  2278  4005
2            2  3522  4833  4554  4250   914  2979  4297  2288  3487  1091
3            3   359   799  3230  2801  4529  3687  3005  1732  2758  3735
4            4  2384  2332  2905  2872  4459  3133  3486  1634  3698  4156
5            5  4742  1504  4633  4378  1034  3082  2369   234  1704  4277
6            6  3593  3167  2543  1599  2278  1999   315  3791  1543  1405
7            7   881   695  4441  4258  2696  1044   405  2347  1047  3922
8            8  3838  3551  2017   364  4865   598  4698  3516  2407  1548
9            9  3848  4766  2234  1569  2585  2526  1627  2997   648   741
10          10  2524  1660  2513  3957  1710  1187  4465  4799  4498  3228
11          11  2677   412  2259  1720   645  2444  1315  1360  4415   218
12          12  1369  4748  1826  4487   719  3867  3061  3944  4486  1390
13          13  4983  1172  3640  1768  1469  2377  3429  3220  3600  4652
14          14  3999  4577  3118  1017  4839  3242  2349  1075  4886  4098
15          15  1107  1228  2852  1091  3265  1102  2973  1515  3155  2225
16          16   644  3751  3046  1742  4331  4629   363  3312   599   340
17          17  1743  4490   480  4428  1969   261  1142  1833  2544  2227
18          18  1712  1506  3067  2203   605  2993   906  4226   426  3410
19          19  1432  3421  3665  2518  3811  1384  3361  4651  3255  2447
20          20  2370  1366  1662  2123  1987  2552   704  1680  1089  4864
21          21   782  4523  2164   948   827  3321   228  1059  3376  2328
22          22  2163  2595  2035  1475  4575  1369  1714  4389  1147  4112
23          23  3372  2306  3851  2845  2392   910  2010  4400  1251  2356
24          24  2682  4639  4947  2671  4530  3317  4628  4258  4179  1499
25          25  2860  2057   232  1836  2629  3277  3540  1734  3820  4295
26          26  3886  3987   847  1876  2020  1886  3773   685  2214  1987
27          27  3543  2527  4288  4464  4177  1535  4336  2833  1184  2757
28          28  1272  1878  1177  4020  4974  1281  3383  1324   661  1736
29          29  3315  3566  1433   671  2460  1527  1400  4726  1296  4962

In [57]:
import matplotlib.pyplot as plt 
from mpl_toolkits.mplot3d import Axes3D
%matplotlib inline

In [63]:
data = {"app":["Facebook","What's app","BGMI","Twitter"], "reting":[8,8,8,8], "Download":[100000,250000,50000,800000]}

In [64]:
app1=pd.DataFrame(data ,columns =["app","reting","Download"])

In [60]:
print(app1)

{'app': ['Facebook', "What's app", 'BGMI', 'Twitter'], 'reting': [8, 8, 8, 8], 'Download': [100000.25, 50000, 800000]}

In [65]:
print(app1)

          app  reting  Download
0    Facebook       8    100000
1  What's app       8    250000
2        BGMI       8     50000
3     Twitter       8    800000

In [67]:
ran =pd.DataFrame(np.random.randint(200,500,size=(40,5)),columns=list('DURAI'))

In [68]:
print(ran)

      D    U    R    A    I
0   282  262  262  200  342
1   464  294  490  467  351
2   361  473  264  228  200
3   340  308  202  272  291
4   219  414  445  260  305
5   410  379  419  386  316
6   245  256  485  371  325
7   341  231  489  416  411
8   242  217  209  319  397
9   479  403  210  302  394
10  309  460  306  343  243
11  333  309  443  423  391
12  462  410  218  307  341
13  419  338  412  443  442
14  250  233  447  391  213
15  408  385  290  231  465
16  308  460  291  222  376
17  496  423  292  454  430
18  273  322  393  454  435
19  261  310  255  411  354
20  459  442  210  402  365
21  418  444  273  244  248
22  425  359  275  437  329
23  345  480  336  354  222
24  308  376  441  322  273
25  364  381  223  309  381
26  394  486  210  495  213
27  332  450  411  284  323
28  257  213  227  269  449
29  296  264  318  320  214
30  451  403  348  259  314
31  465  370  402  352  484
32  491  267  311  241  445
33  408  304  332  254  364
34  438  288  410  478  445
35  225  394  234  291  435
36  291  371  219  475  466
37  365  236  218  446  390
38  443  394  377  230  269
39  337  391  448  219  351

# Data Noralization

In [69]:
normalization_df = pd.DataFrame({'x':np.random.randint(-100,100,1000),
                                 'y':np.random.randint(-80,80,1000),
                                 'z':np.random.randint(-150,150,1000)})